<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈkɔntekst"><text>context</text><tr pos="существительное"><text>контекст</text><ex><text>biopolitical context</text><tr><text>биополитический контекст</text></tr></ex></tr></def><def pos="adjective" ts="ˈkɔntekst"><text>context</text><tr pos="прилагательное"><text>контекстный</text><ex><text>context menu item</text><tr><text>контекстное меню</text></tr></ex></tr></def></DicResult>