<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈmɔdjuːl"><text>module</text><tr pos="существительное"><text>модуль</text><ex><text>AdvancedMC modules</text><tr><text>модули AdvancedMC</text></tr></ex></tr></def><def pos="adjective" ts="ˈmɔdjuːl"><text>module</text><tr pos="прилагательное"><text>модульный</text><ex><text>jack module</text><tr><text>модульный разъем</text></tr></ex></tr></def></DicResult>