<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈsɜːvər"><text>server</text><tr pos="существительное"><text>сервер</text><mean><text>webserver</text></mean><ex><text>TwonkyMedia server</text><tr><text>сервер TwonkyMedia</text></tr></ex></tr></def><def pos="adjective" ts="ˈsɜːvər"><text>server</text><tr pos="прилагательное"><text>серверный</text><mean><text>server-side</text></mean><ex><text>Intel server board</text><tr><text>Серверная плата Intel</text></tr></ex></tr></def></DicResult>