<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈsprɪŋtaɪm"><text>springtime</text><tr pos="существительное"><text>весна</text><syn pos="существительное"><text>весенняя пора</text></syn></tr><tr pos="существительное"><text>весеннее время</text><mean><text>spring time</text></mean></tr></def><def pos="adjective" ts="ˈsprɪŋtaɪm"><text>springtime</text><tr pos="прилагательное"><text>весенний</text></tr></def></DicResult>