<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈsprɪŋə"><text>Springer</text><tr pos="существительное"><text>Шпрингер</text></tr><tr pos="существительное"><text>Спрингер</text><ex><text>Springer spaniel</text><tr><text>Спрингер-спаниель</text></tr></ex></tr><tr pos="существительное"><text>издательство Springer</text></tr></def></DicResult>