<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈsprɪŋbɔːd"><text>springboard</text><tr pos="существительное"><text>трамплин</text><syn pos="существительное"><text>плацдарм</text></syn><syn pos="существительное"><text>батут</text></syn><mean><text>bridgehead</text></mean><mean><text>trampoline</text></mean><ex><text>ski springboard</text><tr><text>лыжный трамплин</text></tr></ex><ex><text>as a springboard</text><tr><text>в качестве плацдарма</text></tr></ex></tr></def></DicResult>