<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="ˈsɪstɪm"><text>system</text><tr pos="существительное"><text>система</text><ex><text>OpenSCADA system</text><tr><text>система OpenSCADA</text></tr></ex></tr></def><def pos="adjective" ts="ˈsɪstɪm"><text>system</text><tr pos="прилагательное"><text>системный</text><ex><text>system integrator</text><tr><text>системный интегратор</text></tr></ex></tr></def></DicResult>