<?xml version="1.0" encoding="utf-8"?>
<DicResult><head/><def pos="noun" ts="web"><text>web</text><tr pos="существительное"><text>веб</text><syn pos="существительное"><text>интернет</text></syn><syn pos="существительное"><text>сеть</text></syn><syn pos="существительное"><text>паутина</text></syn><mean><text>network</text></mean><mean><text>cobweb</text></mean><ex><text>semantic web</text><tr><text>семантический веб</text></tr></ex><ex><text>surf the web</text><tr><text>поиск в интернете</text></tr></ex><ex><text>web browser</text><tr><text>браузер сети</text></tr></ex><ex><text>world wide web</text><tr><text>Всемирная паутина</text></tr></ex></tr></def></DicResult>